@using Microsoft.AspNetCore.Http
@model BoardSystem.Models.Board

<div class="row">
    <div class="col-lg-12" id="title">
        
    </div>
</div>

<div class="row" id="deleteButton">
    <div class="col-lg-10">
        <div class="panel panel-default" id="board">


        </div>
        @*@if (Context.Session.GetString("USER_LOGIN_KEY").Equals(@Model.UserId) || Context.Session.GetString("USER_LOGIN_KEY").Equals("root"))
        {
            <div class="panel-footer">
                <a class="btn btn-primary" asp-controller="Board" asp-action="Delete" asp-route-boardNum="@Model.BoardNum">削除</a>
            </div>
        }*@
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <form class="form-horizontal" id="commentForm" method="post" action="" >
            <div class="form-group">
                <table>
                    <tr><th>
    <textarea class="form-control" name="CommentContents" id="CommentContents" placeholder="内容入力"></textarea>
    <span class="text-danger"></span>
</th>
                    <th><button type="submit" onclick="addValue()" class="btn btn-primary">コメント入力</button></th></tr>
                </table>
                
                <input type="hidden" name="UserId" id="UserId" value="" />
                <input type="hidden" name="BoardNum" id="BoardNum" value="" />
            </div>
            <div class="form-group">
                
            </div>
        </form>
    </div>
    <table class="table table-bordered" id="commentTable">
        <tr>
            <th>ユーザー</th>
            <th>コメント</th>
            <th>日付</th>
        </tr>
         
    </table>

</div>
<script>
    var root = "root";
    var boardContents;
    frmUrl = location.href;
    varCut = frmUrl.indexOf("?");
    varCheck = frmUrl.substring(varCut + 1);
    var varList = varCheck.split("&");
    forCount = varList.length;
    for (i = 0; i < forCount; i++) {
        eval(varList[i]);
    }
    
    $(window).load(function () {
        
        $.ajax({
            type: "get",
            dataType: "json",
            url: "http://localhost:1455/api/BoardContents?boardNum=" + boardNum,
            success: function (result) {
                $("#board").append('<div class="panel-heading" >題目：' + result.BoardTitle + '</div>' +
                    '<div class="panel-heading">ユーザー：' + result.UserId + '</div>' +
                    '<div class="panel-heading">日付：' + result.BoardDate + '</div>' +
                    '<div class="panel-heading">アクセス数：' + result.BoardViews + '</div>' +
                    '<div class="panel-body">' + result.BoardContents + '</div>'
                );
                $("#title").append('<h3 class="page-header" >題目 -' + result.BoardTitle + ' </h3>');
                if (userId == result.UserId || userId==root) {
                    $("#deleteButton").append('<a class="btn btn-primary" onclick="deleteBoard()">削除</a>');
                }
               
            }
        });
    });
</script>
<script>
    $(window).load(function () {
        $.ajax({
            type: "get",
            dataType: "json",
            url: "http://localhost:1455/api/Comments?boardNum=" + boardNum,
            success: function (result) {
                $.each(result, function (index, item) {
                    console.log(item);
                    $("#commentTable").append('<tbody><tr>' +
                        '<td>' + item.UserId + '</td>' +
                        '<td>' + item.CommentContents + '</td>' +
                        '<td>' + item.CommentDate + '</td>');
                    if (userId == item.UserId || userId == root) {
                        $("#commentTable").append('<td><a class="btn btn-primary" onclick="deleteComment(' + item.CommentNum + ')">削除</a></td>');
                    }
                    $("#commentTable").append('</tr></tbody>');

                });
            }
        });
    });
</script>
<script>
    var userId = @ViewBag.id;
    function addValue() {
        $("#UserId").attr("value", userId);
        $("#BoardNum").attr("value", boardNum);
        var commentContents = $("#CommentContents").val();
        $.ajax({
            type: "post",
            dataType: "json",
            url: "http://localhost:1455/api/Comments",
            data: {
                "BoardNum": boardNum,
                "CommentContents": commentContents,
                "UserId": userId
            },
            success: function (result) {
                console.log(result);

            }
        });
    }
</script>
<script>
    function deleteBoard() {
        $.ajax({
            type: "delete",
            dataType: "json",
            url: "http://localhost:1455/api/Boards?boardNum=" + boardNum
            
        });
    }
</script>
<script>
    function deleteComment(commentNum) {
        $.ajax({
            type: "delete",
            dataType: "json",
            url: "http://localhost:1455/api/Comments?commentNum=" + commentNum

        });
    }
</script>
